// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

// Add styles variables

// Colors
$white: #FFFFFF;
$black: #000000;
$red: #dc3545;
$green: #36d58b;
$gray1: #474747;
$gray2: #606060;
$gray3: #6B6B6B;
$gray4: #DEDEDE;
$gray5: #E6E6E6;
$gray6: #EEEEEE;
$gray7: #F4F4F4;

// fonts
$roboto: 'Roboto', sans-serif;
